<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="pythonHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" />
    </handlers>
    <httpPlatform 
      processPath="python" 
      arguments="-m gunicorn -w 1 -k uvicorn.workers.UvicornWorker main:app" 
      startupTimeLimit="120"
      stdoutLogEnabled="true" 
      stdoutLogFile="\\home\\LogFiles\\gunicorn.log">
      <environmentVariables>
        <environmentVariable name="PYTHONUNBUFFERED" value="1" />
      </environmentVariables>
    </httpPlatform>
  </system.webServer>
</configuration>
