<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="PythonHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" />
    </handlers>
    <httpPlatform processPath="%HOME%/antenv/bin/python"
                  arguments="-m gunicorn -w 1 -k uvicorn.workers.UvicornWorker main:app"
                  stdoutLogEnabled="true"
                  stdoutLogFile="%HOME%\LogFiles\python.log"
                  startupTimeLimit="60"
                  processesPerApplication="16">
      <environmentVariables>
        <environmentVariable name="PYTHONPATH" value="%HOME%/site/wwwroot" />
        <environmentVariable name="PORT" value="%HTTP_PLATFORM_PORT%" />
        <environmentVariable name="PYTHONUNBUFFERED" value="1" />
        <environmentVariable name="PATH" value="%HOME%/antenv/bin;%HOME%/antenv/Scripts;%PATH%" />
        <environmentVariable name="VIRTUAL_ENV" value="%HOME%/antenv" />
        <environmentVariable name="PYTHONHOME" value="%HOME%/antenv" />
      </environmentVariables>
    </httpPlatform>
  </system.webServer>
</configuration>
