<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="PythonHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified"/>
    </handlers>
    <httpPlatform processPath="%home%\site\wwwroot\antenv\Scripts\python.exe"
                  arguments="%home%\site\wwwroot\entrypoint.py"
                  stdoutLogEnabled="true"
                  stdoutLogFile="%home%\LogFiles\python.log"
                  startupTimeLimit="180">
      <environmentVariables>
        <environmentVariable name="PORT" value="%HTTP_PLATFORM_PORT%" />
        <environmentVariable name="WEBSITE_SITE_NAME" value="%WEBSITE_SITE_NAME%" />
        <environmentVariable name="WEBSITE_HOSTNAME" value="%WEBSITE_HOSTNAME%" />
        <environmentVariable name="WEBSITE_INSTANCE_ID" value="%WEBSITE_INSTANCE_ID%" />
        <environmentVariable name="WEBSITE_ROLE_INSTANCE_ID" value="%WEBSITE_ROLE_INSTANCE_ID%" />
        <environmentVariable name="WEBSITE_AUTH_ENABLED" value="%WEBSITE_AUTH_ENABLED%" />
        <environmentVariable name="WEBSITE_USE_DIAGNOSTIC_SERVER" value="%WEBSITE_USE_DIAGNOSTIC_SERVER%" />
        <environmentVariable name="HTTP_LOGGING_ENABLED" value="%HTTP_LOGGING_ENABLED%" />
        <environmentVariable name="PYTHONPATH" value="%home%\site\wwwroot" />
        <environmentVariable name="PYTHONUNBUFFERED" value="1" />
        <environmentVariable name="PYTHONIOENCODING" value="utf-8" />
        <environmentVariable name="UVICORN_LOG_LEVEL" value="debug" />
        <environmentVariable name="UVICORN_ACCESS_LOG" value="true" />
      </environmentVariables>
    </httpPlatform>
  </system.webServer>
</configuration> 