<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"><plist version="1.0"><dict><key>method</key><string>development</string><key>teamID</key><string>3C7G3K8G28</string><key>signingStyle</key><string>automatic</string><key>signingCertificate</key><string>Apple Development</string><key>provisioningProfiles</key><dict><key>com.dlnagalla.NagAppNew.2024</key><string>iOS Team Provisioning Profile: com.dlnagalla.NagAppNew.2024</string></dict></dict></plist>
